@import "../../styles/styles-utils.scss";
.page {
  display: flex;
  flex-direction: column;
  @include themify($themes) {
    background-color: themed("bodyBackgroundColor");
  }
  .container-wrapper {
    display: flex;
    min-height: calc(100vh - 64px);
  }

  .container {
    width: 100%;
    @media (max-width: 768px) {
      // overflow-y: scroll;
    }
  }
}
