@import "../../styles/styles-utils.scss";
.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  @include themify($themes) {
    background-color: themed("bodyBackgroundColor");
  }
  .container-wrapper {
    display: flex;
    min-height: calc(100vh - 64px);
    height: 100%;
  }
  .container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: calc(100vw - 72px) !important;
  }
}

@media (max-height: 650px) and (orientation: landscape) {
  .container {
    overflow-y: auto !important;
  }
}
