.todoItem{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:100%;
    background-color:#fff;
    border:1px solid #ddd;
    min-height:24px;
    padding:8px;
}

.todoItem input[type="checkbox"]{
    width: 16px;
    height: 16px;
    cursor: pointer;
    border:1px solid #aaa;
  }

.todoItem .fa-trash-alt{
    color:#aaa;
}