@import "../../../styles/styles-utils.scss";


i{
    font-size:12px;
    padding-right:8px;
    @include themify($themes) {
        color: themed("textColorBase");
    }
    cursor:pointer;
}
span{
    padding-left:8px;
    font-size:13px;
    @include themify($themes) {
        color: themed("textColorBase");
    }
}