@import "../../styles/styles-utils.scss";
.tabs__wrapper {
  padding: $spacing-xxs $spacing-s $spacing-xxs $spacing-s;
  @include themify($themes) {
    background-color: themed("panelHeaderBackgroundColor");
    color: themed("textColorBase");
  }
  .tabs__tab {
    margin-right: $spacing-xs;
    &.selected {
      border-bottom: 3px solid $color-primary;
    }
  }
}

@media (max-width: 768px) {
  .tabs__tabs {
    display: flex !important;
    .tabs__tab {
      text-overflow: ellipsis !important;
      white-space: nowrap !important;
      overflow: hidden !important;
      height: 24px !important;
    }
  }
}
