@import "../../styles/styles-utils.scss";
.tabContainer__wrapper {
  padding: $spacing-xs $spacing-s $spacing-xxs $spacing-s;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include themify($themes) {
    background-color: themed("panelHeaderBackgroundColor");
    color: themed("textColorBase");
  }
  .tabContainer__title {
    font-family: $font-secondary;
    font-size: 28px;
    padding-bottom: $spacing-xs;
  }
  .tabContainer__tab {
    margin-right: $spacing-xs;
    &.selected {
      border-bottom: 3px solid $color-primary;
    }
  }
}
