.selector{
    display:flex;
    select{
        -webkit-appearance:none;
        background-color:#373f44;
        border:1px solid #000;
        color: #bbb;
        height: calc(1.5em + .5rem + 2px);
        padding: .25rem .5rem;
        font-size: .875rem;
        line-height: 1.5;
        border-radius: .2rem;
        width:100%;
        
    }
    .select-arrow-user-settings{
        font-size: 8px!important;
        flex-grow: 1;
        position: relative;
        top:12px;
        right:20px;
        color: #bbb;
    }
}
