@import "../../styles/styles-utils.scss";

.widget__wrapper {
  min-height: 152px;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16), 0 3px 4px 0 rgba(0, 0, 0, 0.18),
    0 1px 8px 0 rgba(0, 0, 0, 0.2);
  font-family: "Rubik", sans-serif;
}
.widget__header {
  @include themify($themes) {
    color: themed("textColorBase");
    background-color: themed("widgetHeaderColor");
  }
  user-select: none;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-xxs $spacing-xs;
  .widget__header-title {
    margin-right: 4px;
  }
}
.widget__content {

  @include themify($themes) {
    background-color: themed("panelBackgroundColor");
  }
  height: 100%;
  overflow: hidden;
}
