@import "../../styles/styles-utils.scss";
$generic-width: 120px;
$generic-height: 60px;
$generic-border: 24px;

.status__wrapper {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  .status__content {
    margin: auto;
    display: flex;
    flex-direction: column;

    .status__text {
      display: flex;
      justify-content: center;
      color: white;
      padding: 2px;
      font-size: 12px;
    }
    .status__indicator {
      margin: 0 auto;
      padding: 0;
      list-style-type: none;
      position: relative;
      width: $generic-width;
      height: $generic-height;
      overflow: hidden;
      li {
        position: absolute;
        top: 100%;
        width: inherit;
        height: inherit;
        border: $generic-border solid;
        border-top: none;
        border-bottom-left-radius: $generic-height;
        border-bottom-right-radius: $generic-height;
        transform-origin: 50% 0;
        &:nth-child(1) {
          z-index: 4;
          border-color: #65866b;
          transform: rotate(60deg);
          &.highlighted {
            border-color: #89bf84;
          }
        }
        &:nth-child(2) {
          z-index: 3;
          border-color: #96893d;
          transform: rotate(120deg);
          &.highlighted {
            border-color: #e9c427;
          }
        }
        &:nth-child(3) {
          z-index: 2;
          border-color: #936063;
          transform: rotate(180deg);
          &.highlighted {
            border-color: #e37272;
          }
        }
      }
    }
    .status__pointer {
      margin: auto;
      position: relative;
      width: 10px;
      .pointer__circle {
        position: absolute;
        bottom: 0px;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        @include themify($themes) {
          background-color: themed("pointerAlertStatus");
        }
      
        color: transparent;
      }
      .pointer__bar {
        position: absolute;
        bottom: 5px;
        height: 0;
        width: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
       
        @include themify($themes) {
          border-bottom: 25px solid themed("pointerAlertStatus");
      }
        @include themify($themes) {
            stroke: themed("pointerAlertStatus");
        }
        -webkit-transition: -webkit-transform 1.8s ease-in-out;
        -ms-transition: -ms-transform 1.8s ease-in-out;
        transition: transform 1.8s ease-in-out;
        
        &.normal{
          transform: rotate(-60deg);
          transform-origin: bottom center;
    
        }
        &.warning{
          transform: rotate(0deg);
          transform-origin: bottom center;
        }
        &.critical{
          transform: rotate(60deg);
          transform-origin: bottom center;
        }
      }
    }
    .status__info {
      display: flex;
      justify-content: space-between;
      margin-top: 8px;
      .alerts,
      .warns {
        border-radius: 5px;
        color: white;
        font-size: 12px;
        padding: 1px 4px 1px 4px;
        svg {
          path {
            fill: transparent;
            @include themify($themes) {
              stroke: themed("textColorBase");
            }
            stroke-width: 16px;
          }
        }
      }
      .alerts {
        background-color: #e37272;
      }
      .warns {
        background-color: #e9c427;
      }
    }
  }
}
@media (min-width: 1920px) {
  .status__indicator {
    width: 180px !important;
    height: 90px !important;
    li {
      border-bottom-left-radius: 90px !important;
      border-bottom-right-radius: 90px !important;
    }
  }
  .status__text {
    padding: 8px !important;
    font-size: 16px !important;
  }
  .pointer__bar {
    border-bottom: 45px solid white !important;
  }
}
