@import "../../../../styles/styles-utils.scss";

.overallInfoWidgetContent__alarms-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
  .total-alarms {
    display: flex;
    justify-content: center;
    span {
      font-family: $font-primary;
      font-size: 30px;
      font-weight: bold;
      padding: 4px;
      &.high-severity-alarm {
        @include themify($themes) {
          border-bottom: 3px solid themed("alertColor");
        }
      }
      &.mid-severity-alarm {
        @include themify($themes) {
          border-bottom: 3px solid themed("warningColor");
        }
      }

      @include themify($themes) {
        color: themed("textColorBase");
      }
    }
  }
  .alarm-range {
    span {
      font-size: 24px;
      @include themify($themes) {
        color: themed("rangeColor");
      }
    }
  }
  .warning-icons {
    display: flex;
    justify-content: space-around;
    width: 80%;
    padding: 8px;
    .icon-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 80px;
      @include themify($themes) {
        color: themed("textColorWeaker");
      }
      span {
        padding-top: 4px;
        padding-bottom: 4px;
        &.icon-text {
          font-size: 12px;
        }
      }
      svg {
        path {
          fill: transparent;
          @include themify($themes) {
            stroke: themed("textColorWeaker");
          }
          stroke-width: 35px;
        }
      }
    }
  }
}
