@import "../../styles/styles-utils.scss";

.operationState__wrapper {
  padding: $spacing-xs;
  height: 100%;
  .widget__container {
    display: flex;
    width: 100%;
    height: 40%;

    .widget {
      margin-bottom: 16px;
    }
    .widget:not(:last-child) {
      margin-right: 16px;
    }
    @media (max-width: 768px) {
      flex-direction: column;
      height: 616px;
    }
  }
  .map__container {
    height: 60%;
    @media (max-width: 768px) {
      height: 400px;
    }
  }
  padding-bottom: 10px;
  @media (max-width: 768px) {
    overflow-y: auto;
  }
}
