@import "../../styles/styles-utils.scss";

.operationState__wrapper {
  display: flex;
  flex-direction: column;
  padding: $spacing-s;
  height: 100%;
  .widget__container {
    display: flex;
    width: 100%;
    height: 40%;

    .widget {
      margin-bottom: 16px;
    }
    .widget:not(:last-child) {
      margin-right: 16px;
    }
    @media (max-width: 768px) {
      display: block;
      margin-bottom: 16px;
      overflow-y: auto;
    }
  }
  .map__container {
    height: 60%;
    @media (max-width: 768px) {
      height: auto;
    }
  }
  padding-bottom: 10px;
  @media (max-width: 768px) {
  
  }
}
