
@import '../../styles/style-utils.scss';
.header{
    @include themify($themes) {
        background-color: themed('test');  
    }
    
    color:#fff;
    padding:24px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    .link{
        a{color:white;}
    }
   
}