.login-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-image: url('../images/dot-background-body.png');
    background-repeat: repeat-x;
    background-position-y: bottom;
}

.login-cont form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 490px;
    padding: 0px 100px;

    svg {
        position: absolute;
        align-self: center;
        width: 160px;
        height: auto;
        top: calc(50vh - 280px);
    }

    .title {
        font-family: $font-secondary;
        font-size: 36px;
    }

    .pwd-lost {
        cursor: pointer;
        font-size: 13px;
        text-align: end;
        padding-top: 16px;
    }

    label {
        color: $color-text-white-base;
    }

    .btn {
        background-color: $color-primary;
    }

    .form-control {
        border: 1px solid #00000020;
        border-radius: 2px;
        background-color: $color-background-dark-2;
    }

    input {
        color: $color-background-light-2;
    }

    input:focus {
        color: $color-background-light-2;
    }

    option {
        color: $color-background-light-4;
    }

    #languageSelector {
        color: $color-background-light-4;
    }
}