@import "../../styles/styles-utils.scss";
.hierachy{
    width: 350px;
    @include themify($themes) {
        background-color: themed("textColorBase");
    }
    ul{
        list-style-type:none;
        li{
            padding-top:8px;
            span{
                padding-left:8px;
                font-size:13px;
                @include themify($themes) {
                    color: themed("textColorBase");
                }
            }
        }
    }
}