.c-user-avatar {
 
    -webkit-transform: translate(0,18px);
 
            transform: translate(0,18px);
}

.c-user-avatar__cont{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 24px;
  }

.c-user-avatar__cont-photo{
    width:32px;
    height:32px;
    overflow:hidden;
    border-radius: 50%;
    margin-right: 10px
  }

.c-user-avatar__cont-photo_big {
    width: 136px;
    height: 136px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px
}

.c-user-avatar__photo{
    height: 100%;
    width: auto;
  }

.c-user-avatar__name{
    font-family: "Myriad Pro Regular";
  }

.c-user-avatar__arrow{
    margin-left: 5px;
    height: 6px;
  }

  .c-user-avatar__arrow svg {
    height: 6px;
  }

.c-user-avatar--fix{
    -webkit-transform: translate(0,0);
            transform: translate(0,0);
}

.user-menu {
  padding: 0px 2px 4px;

  label {
    font-family: "Myriad Pro Regular";
    font-size: 13px;
    padding-top: 3px;
  }

  button {
    min-width: 150px;
    background: transparent;
    text-align: left;
    padding: 0px 4px;
  }
}