@import "../../styles/styles-utils.scss";

.sidebar__wrapper {
  @include themify($themes) {
    color: themed("textColorBase");
    background-color: themed("panelBackgroundColor");
  }
  padding: $spacing-s $spacing-xs;
  transition: width 0s;
  font-family: "Rubik", sans-serif;
  width: 75px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16), 0 3px 4px 0 rgba(0, 0, 0, 0.18),
  0 1px 8px 0 rgba(0, 0, 0, 0.2);
}

.sidebar__wrapper--expanded {
  width: 320px;
}

.sidebar__item {
  font-family: Rubik Regular;
  font-size: $spacing-xs;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 20px;
  min-width: 40px;
  min-height: 40px;
  &:hover {
    @include themify($themes) {
      background-color: themed("sidenavItemBackgroundColor");
    }
  }
  .custom-icon,
  .icon {
    float: none;
    padding: 4px;
    height: 42px;
    width: 42px;
    max-width: 32px;
    max-height: 32px;
    margin: 0;
    position: static;
    top: 0;
  }
}

.sidebar__item--selected {
  background-color: $color-primary;
}

.sidebar__item--expanded {
  justify-content: normal;
  padding: 0 $spacing-s;
  height: auto;
  width: auto;

  .custom-icon,
  .icon {
    float: left;
    margin-right: 16px;
  }
}

.sidebar__alarms {
  @include themify($themes) {
    color: themed("textColorBase");
  }
  background-color: $color-primary;
  margin-left: $spacing-xxs;
  padding: 2px $spacing-xxs;
  border-radius: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu-separator {
  margin: 20px 0;
  height: 2px;
  width: 100%;
  background-color: #000;
  opacity: 0.15;
}

.sidebar__hierarchy {
  height: 100vh;
  width: 350px;
}

@media (max-width: 768px) {
  .sidebar__wrapper {
    width: 75px !important;
  }
}