@import "../../styles/styles-utils.scss";
.filterPanel__wrapper{
    width:224px;
    border:2px solid white;
    .filterPanel__header{
        padding:8px;
        @include themify($themes) {
            background-color: themed("panelHeaderBackgroundColor");
        }
        span{
            font-size:14px;
            @include themify($themes) {
                color: themed("textColorBase");
            }
        }
    }

    .filterPanel__content{
        padding:8px;
        .title{
            font-size:12px;
            @include themify($themes) {
                color: themed("textColorWeaker");
            }
        }
        ul{
            list-style-type:none;
            li{
                position:relative;
                font-size:12px;
                @include themify($themes) {
                    color: themed("textColorWeaker");
                }

                .checkbox-container {
                    display: block;
                    position: relative;
                    padding-left: 24px;
                    cursor: pointer;
                    font-size: 12px;

                    input{
                        opacity: 0;
                        cursor: pointer;
                    }

                    .checkmark {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 16px;
                        width: 16px;
                        @include themify($themes) {
                            background-color: themed("panelHeaderBackgroundColor");
                        }

                        &:after {
                            content: "";
                            position: absolute;
                            display: none;
                            left: 5px;
                            top: 1px;
                            width: 5px;
                            height: 10px;
                            border: solid white;
                            border-width: 0 1px 1px 0;
                            -webkit-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            transform: rotate(45deg);
                        }
                    }
                    
                    input:checked ~ .checkmark {
                        background-color: #0073aa;
                    }

                    input:checked ~ .checkmark:after {
                        display: block;
                    }
                }
            }
        }
    }
}

