@import "../../styles/styles-utils.scss";

.map__map-wrapper {
    height: 100%;
    width: 100%;
    @include themify($themes) {
        background-color: themed("panelBackgroundColor");
      }
    position: relative;
}